<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"">
    <link rel=" stylesheet" href="button.css">
    <title>Document</title>
</head>
<body>
    <input type="checkbox" id="check"> <label class="chat-btn" for="check"> <i
            class="fa fa-commenting-o comment"></i>Talk to EduBot</label>
    <div class="wrapper">
        <div class="header">
            <h2>EduChat</h2>
        </div>
        <div class="chat-box">
            <div class="chat-box-body">
                <div class="chat-box-body-send">
                    <p>Hello !</p> <span>12:00</span>
                </div>
                <div class="chat-box-body-receive">
                    <p>Hello Sir.</p> <span>12:00</span>
                </div>
                <div class="chat-box-body-receive">
                    <p>How can I help you ?</p> <span>12:00</span>
                </div>
                <div class="chat-box-body-send">
                    <p>What is your name?</p> <span>12:01</span>
                </div>
                <div class="chat-box-body-receive">
                    <p>My name is EduBot.</p> <span>12:01</span>
                </div>
                <div class="chat-box-body-receive">
                    <p>And I am smartest on this planet.</p> <span>12:01</span>
                </div>
            </div>
        <div class="chat-box-footer"><input placeholder="Enter Your Message" type="text"> <span><i
                    class="send far fa-paper-plane"></i></span>
        </div>
    </div>
</body>
</html>